{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <h1>Mon Profil</h1>
    {{ form_start(form) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.email) }}
    {{ form_row(form.username) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
    <button type="submit" class="btn btn-success">Mettre à jour</button>
    {{ form_end(form) }}

    <h2>Mes Commandes</h2>
    <ul>
        {% for order in orders %}
            <li>Commande #{{ order.id }} - {{ order.total }}€ - {{ order.createdAt|date('d/m/Y') }}</li>
        {% else %}
            <li>Vous n'avez pas encore de commandes.</li>
        {% endfor %}
    </ul>
{% endblock %}

