{% extends 'base.html.twig' %}

{% block title %}Rendez-vous Payés{% endblock %}

{% block body %}
<h1>Rendez-vous Payés</h1>
<table class="table-responsive">
    <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Service</th>
            <th>Prix</th>
            <th>Client</th>
        </tr>
    </thead>
    <tbody>
    {% for appointment in appointments %}
        <tr>
            <td>{{ appointment.id }}</td>
            <td>{{ appointment.appointmentDate|date('d/m/Y H:i') }}</td>
            <td>{{ appointment.service.name }}</td>
            <td>{{ appointment.service.price }} €</td>
            <td>{{ appointment.user.email }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5" class="text-center-custom">Aucun rendez-vous payé trouvé.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
