{% extends 'base.html.twig' %}

{% block title %}Demandes de rendez-vous en attente{% endblock %}

{% block body %}
<h1>Demandes de rendez-vous en attente</h1>
<table class="custom-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Date et heure</th>
            <th>Service</th>
            <th>Client</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for appointment in appointments %}
            <tr>
                <td>{{ appointment.id }}</td>
                <td>{{ appointment.appointmentDate|date('d/m/Y H:i') }}</td>
                <td>{{ appointment.service.name }}</td>
                <td>{{ appointment.user.email }}</td>
                <td>
                    <form action="{{ path('admin_appointment_approve', {'id': appointment.id}) }}" method="post" style="display:inline;">
                        <input type="hidden" name="_token" value="{{ csrf_token('approve' ~ appointment.id) }}">
                        <button type="submit" class="btn btn-success-custom">Approuver</button>
                    </form>
                    <form action="{{ path('admin_appointment_reject', {'id': appointment.id}) }}" method="post" style="display:inline;">
                        <input type="hidden" name="_token" value="{{ csrf_token('reject' ~ appointment.id) }}">
                        <button type="submit" class="btn btn-danger-custom">Refuser</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" class="text-center-custom">Aucune demande de rendez-vous en attente.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
