{% extends 'base.html.twig' %}

{% block title %}Modifier utilisateur{% endblock %}

{% block body %}
<h1>Modifier utilisateur</h1>

{{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.email) }}
        {{ form_widget(form.email, {'class': 'form-control-custom'}) }}
        {{ form_errors(form.email) }}
    </div>
    
    <div class="form-group">
        {{ form_label(form.roles) }}
        {{ form_widget(form.roles, {'class': 'form-control-custom'}) }}
        {{ form_errors(form.roles) }}
    </div>
    
    <button type="submit" class="btn btn-primary-custom">Enregistrer</button>
{{ form_end(form) }}

<a href="{{ path('admin_user_index') }}" class="btn btn-secondary-custom">Retour à la liste des utilisateurs</a>
{% endblock %}
