{% extends 'base.html.twig' %}

{% block title %}
    {{ event.title }} - Détails
{% endblock %}

{% block body %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    <h1>{{ event.title }}</h1>

    <!-- Affichage des images et vidéos associées à l'événement -->
    <div class="media-gallery">
        {% for media in event.media %}
            {% set media_url = vich_uploader_asset(media, 'mediaFile') %}
            {% if media_url %}
                {% set extension = media.filename|split('.')|last|lower %}
                <div class="media-item">
                    {% if extension in ['jpg', 'jpeg', 'png', 'gif'] %}
                        <img src="{{ media_url }}" alt="Image pour l'événement" class="media-image-thumbnail">
                    {% elseif extension == 'mp4' %}
                        <video controls class="media-video-thumbnail">
                            <source src="{{ media_url }}" type="video/mp4">
                            Votre navigateur ne supporte pas la lecture de vidéos.
                        </video>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <form method="post" action="{{ path('media_delete', {'id': media.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce média ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ media.id) }}">
                            <button type="submit" class="btn btn-danger-custom">Supprimer</button>
                        </form>
                    {% endif %}
                </div>
            {% else %}
                <p>Média introuvable.</p>
            {% endif %}
        {% endfor %}
    </div>

    <div class="event-details">
        <p>
            <strong>Description :</strong>
            {{ event.description }}
        </p>
        <p>
            <strong>Date de l'événement :</strong>
            {{ event.eventDate|date('d/m/Y') }}
        </p>

        {% if is_granted('ROLE_ADMIN') %}
            <form method="post" action="{{ path('event_delete', {'id': event.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet événement ?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
                <button type="submit" class="btn btn-danger-custom">Supprimer</button>
            </form>
            <a href="{{ path('event_edit', {'id': event.id}) }}" class="btn btn-secondary-custom mt-3">Modifier</a>
        {% endif %}
        <a href="{{ path('event_index') }}" class="btn btn-primary-custom mt-3">Retour aux événements</a>
    </div>
{% endblock %}
