{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <main class="registration-main">
        <h1 class="registration-title">Inscription</h1>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div class="container registration-container">
            {{ form_start(registrationForm, {'attr': {'data-turbo': 'false', 'class': 'registration-form'}}) }}

            {{ form_errors(registrationForm) }}

            <div class="form-group">
                <label for="{{ registrationForm.email.vars.id }}">Email</label>
                <div class="input-with-icon email">
                    {{ form_widget(registrationForm.email, {'class': 'form-control-custom', 'id': registrationForm.email.vars.id}) }}
                </div>
                {{ form_errors(registrationForm.email) }}
            </div>

            <div class="form-group">
                <label for="{{ registrationForm.firstName.vars.id }}">Prénom</label>
                {{ form_widget(registrationForm.firstName, {'class': 'form-control-custom', 'id': registrationForm.firstName.vars.id}) }}
                {{ form_errors(registrationForm.firstName) }}
            </div>

            <div class="form-group">
                <label for="{{ registrationForm.lastName.vars.id }}">Nom de famille</label>
                {{ form_widget(registrationForm.lastName, {'class': 'form-control-custom', 'id': registrationForm.lastName.vars.id}) }}
                {{ form_errors(registrationForm.lastName) }}
            </div>

            <div class="form-group">
                {{ form_label(registrationForm.plainPassword.first) }}
                <div class="input-with-icon password">
                    {{ form_widget(registrationForm.plainPassword.first, {'class': 'form-control-custom', 'id': registrationForm.plainPassword.first.vars.id, }) }}
                </div>
                {{ form_errors(registrationForm.plainPassword.first) }}
            </div>

            <div class="form-group">
                {{ form_label(registrationForm.plainPassword.second) }}
                <div class="input-with-icon password">
                    {{ form_widget(registrationForm.plainPassword.second, {'class': 'form-control-custom', 'id': registrationForm.plainPassword.second.vars.id, }) }}
                </div>
                {{ form_errors(registrationForm.plainPassword.second) }}
            </div>

            <div class="form-group">
                <label for="{{ registrationForm.userDetail.city.vars.id }}">Ville</label>
                {{ form_widget(registrationForm.userDetail.city, {'class': 'input-field-custom', 'id': registrationForm.userDetail.city.vars.id}) }}
                {{ form_errors(registrationForm.userDetail.city) }}
            </div>

            <div class="form-group">
                <label for="{{ registrationForm.userDetail.address.vars.id }}">Adresse</label>
                {{ form_widget(registrationForm.userDetail.address, {'class': 'input-field-custom', 'id': registrationForm.userDetail.address.vars.id}) }}
                {{ form_errors(registrationForm.userDetail.address) }}
            </div>

            <div class="form-group">
                <label for="{{ registrationForm.userDetail.country.vars.id }}">Pays</label>
                {{ form_widget(registrationForm.userDetail.country, {'class': 'input-field-custom', 'id': registrationForm.userDetail.country.vars.id}) }}
                {{ form_errors(registrationForm.userDetail.country) }}
            </div>

            <div class="form-group">
                <label for="{{ registrationForm.userDetail.postalCode.vars.id }}">Code Postal</label>
                {{ form_widget(registrationForm.userDetail.postalCode, {'class': 'input-field-custom', 'id': registrationForm.userDetail.postalCode.vars.id}) }}
                {{ form_errors(registrationForm.userDetail.postalCode) }}
            </div>

            <div class="form-group">
                <label for="{{ registrationForm.userDetail.phoneNumber.vars.id }}">Numéro de Téléphone</label>
                {{ form_widget(registrationForm.userDetail.phoneNumber, {'class': 'input-field-custom', 'id': registrationForm.userDetail.phoneNumber.vars.id}) }}
                {{ form_errors(registrationForm.userDetail.phoneNumber) }}
            </div>

            <div class="form-group">
                <label for="{{ registrationForm.userDetail.birthDate.vars.id }}">Date de Naissance</label>
                {{ form_widget(registrationForm.userDetail.birthDate, {'class': 'input-field-custom', 'id': registrationForm.userDetail.birthDate.vars.id}) }}
                {{ form_errors(registrationForm.userDetail.birthDate) }}
            </div>

            <div class="button-group">
                <button type="submit" class="btn btn-primary-custom">S'inscrire</button>
            </div>

            {{ form_end(registrationForm) }}
        </div>
    </main>
{% endblock %}
