{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    {# Affichage des messages d'erreur #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {{ form_start(registrationForm, {'attr': {'data-turbo': 'false'}}) }}
    {{ form_errors(registrationForm) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.firstName) }}
    {{ form_row(registrationForm.lastName) }}
    {{ form_row(registrationForm.plainPassword) }}
    {{ form_row(registrationForm.userDetail.city) }}
    {{ form_row(registrationForm.userDetail.address) }}
    {{ form_row(registrationForm.userDetail.country) }}
    {{ form_row(registrationForm.userDetail.postalCode) }}
    {{ form_row(registrationForm.userDetail.phoneNumber) }}
    {{ form_row(registrationForm.userDetail.birthDate) }}
    
    <button type="submit" class="btn btn-primary">S'inscrire</button>
    {{ form_end(registrationForm) }}
{% endblock %}
