<footer>
	<div
		class="footer-container">
		<!-- Section À propos -->
		<div class="footer-about">
			<h3>À propos</h3>
			<p>Bienvenue sur notre site de vente de bracelets énergétiques, pierres et minéraux. Nous offrons également des services de soins énergétiques et la fabrication de bracelets personnalisés sur rendez-vous.</p>
		</div>

		<!-- Section Liens rapides -->
		<div class="footer-links">
			<h3>Liens rapides</h3>
			<ul>
				<li><a href="{{path('home')}}">Accueil</a></li>
				<li><a href="{{ path('shop_index') }}">Boutique</a></li>
				<li><a href="{{ path('appointment_new') }}">Prendre rendez-vous</a></li>
				<li><a href="{{ path('contact') }}">Contact</a></li>
				<li><a href="{{ path('terms_of_use') }}">Conditions d'utilisation</a></li>
				<li><a href="{{ path('confidentiality') }}">Politique de confidentialité</a></li>
			</ul>
		</div>

		<!-- Section Contact -->
		<div class="footer-contact">
			<h3>Contactez-nous</h3>
			<ul>
				<li>
					<a href="mailto:contact@sparkles.nnao.fr">contact@sparkles.nnao.fr</a>
				</li>
				<li>
					<strong>Téléphone :</strong>
					+33 6 06 08 09 10
				</li>
				<li>
					<strong>Adresse :</strong>
					39 rue des étoiles, 11271 Etoiler, France
				</li>
			</ul>
		</div>

		<!-- Section Restez connectés -->
		<div class="footer-social">
			<h3>Restez connectés</h3>
			<ul>
				{# <li><a href="https://facebook.com/votresite" target="_blank">Facebook</a></li>
								<li><a href="https://instagram.com/votresite" target="_blank">Instagram</a></li>
								<li><a href="https://twitter.com/votresite" target="_blank">Twitter</a></li> #}
				<li>
					<a href="https://www.linkedin.com/in/oph%C3%A9lie-f-109a1a61/">
						<i class="fa-brands fa-linkedin"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="footer-bottom">
		<p>
			<strong>Sparkles – Rayonnez de l’intérieur</strong>
		</p>
		<p>&copy; 2024 Sparkles. Tous droits réservés.</p>
	</div>
</footer>
