<header>
    <div class="header-content">
<<<<<<< HEAD
        <img class="image-logo" src="{{ asset('img/img_etincelle_home-removebg-preview.png') }}" alt="Logo de L'Étincelle">
        <h1>Sparkles</h1>
=======
<a href="{{ path('home') }}">
    <img src="{{ asset('img/img_etincelle_home-removebg-preview.png') }}" alt="Logo de L'Étincelle">
</a>
        <a class =" h1-title href" ="{{ path('home') }}">Sparkles</a>
>>>>>>> bug
        <nav class="social-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="{{ path('favorite_list') }}"><i class="fa-solid fa-heart"></i></a>
        </nav>
    </div>
</header>
