<nav class="main-nav">
    <button class="burger-menu" onclick="toggleMenu()">
        <i class="fa fa-bars"></i>
    </button>
    <ul class="nav-links">
        <li><a href="{{ path('home') }}">Accueil</a></li>
        <li><a href="{{ path('appointment_new') }}">Services</a></li>
        <li><a href="{{ path('shop_index') }}">Boutique</a></li>
        <li><a href="{{ path('contact') }}">Contact</a></li>
        <li><a href="{{ path('view_cart') }}">Panier</a></li>
        <li><a href="{{ path('event_index') }}">Événements</a></li>
        <li>
            <a href="{{ path('profile_index') }}" class="add">
                <i class="fa-solid fa-user"></i>
            </a>
        </li>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li>
                <a href="{{ path('app_logout') }}" class="add">
                    <i class="fa fa-sign-out"></i>
                </a>
            </li>
        {% else %}
            <li>
                <a href="{{ path('app_login') }}" class="add">
                    <i class="fa fa-sign-in"></i>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
