{% extends 'base.html.twig' %}

{% block title %}
	{{ product.name }}Détails
{% endblock %}

{% block body %}
	<h1>{{ product.name }}</h1>

	{# Affichage des images du produit #}
	{% if product.productImages|length > 0 %}
		<div
			class="product-images">
			{# <h4>Images du produit :</h4> #}
			{% for image in product.productImages %}
				<img src="{{ asset(image.imagesPath) }}" alt="{{ product.name }}" class="product-image">
			{% endfor %}
		</div>
	{% else %}
		<p>Aucune image disponible pour ce produit.</p>
	{% endif %}

	<div class="product-details">
		<p>
			<strong>Description :</strong>
			{{ product.description }}</p>
		<p>
			<strong>Prix :</strong>
			{{ product.price }}
			€</p>

		{% if product.stockQuantity > 0 %}
			<p>
				<strong>Disponibilité :</strong>
				<span class="text-success">En stock</span>
			</p>
			<p>
				<strong>Quantité en stock :</strong>
				{{ product.stockQuantity }}</p>
		{% else %}
			<p>
				<strong>Disponibilité :</strong>
				<span class="text-danger">Rupture de stock</span>
			</p>
		{% endif %}


		<a href="{{ path('add_to_cart', {'id': product.id}) }}" class="btn btn-primary mt-3">Ajouter au panier</a>
		<a href="{{ path('shop_index') }}" class="btn btn-secondary mt-3">Retour à la boutique</a>
		<a href="{{ path('product_edit', {'id': product.id}) }}" class="btn btn-warning mt-3">Modifier</a>

	</div>
{% endblock %}
