{% extends 'base.html.twig' %}

{% block title %}Liste des blogs{% endblock %}

{% block body %}
    <h1>Liste des blogs</h1>

		<a href="{{path('blog_new')}}" class="btn btn-primary mb-3">Blog</a>

    <ul>
    {% for blog in blogs %}
        <li>
            <h2>{{ blog.title }}</h2>
            <p>{{ blog.content }}</p>

            <h3>Médias associés :</h3>
            {% for media in blog.media %}
                {% if media.type starts with 'image/' %}
                    <img src="{{ asset(media.path) }}" alt="Image for blog post">
                {% elseif media.type starts with 'video/' %}
                    <video controls>
                        <source src="{{ asset(media.path) }}" type="video/mp4">
                    </video>
                {% endif %}
            {% else %}
                <p>Aucun média associé.</p>
            {% endfor %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}
