{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer un blog</h1>

    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.content) }}
    {{ form_row(form.media) }}

    <button type="submit" class="btn btn-success">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}


{% block javascript %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let blogMediaWrapper = document.getElementById('blog-media-wrapper');
            let index = blogMediaWrapper.querySelectorAll('.blog-media-item').length;

            // Ajouter un nouveau champ de fichier
            document.getElementById('add-media-button').addEventListener('click', function () {
                let newMediaItem = document.createElement('div');
                newMediaItem.classList.add('blog-media-item');
                
                // Créer un nouveau champ de fichier
                let newInput = document.createElement('input');
                newInput.setAttribute('type', 'file');
                newInput.setAttribute('name', 'mediaFiles[]'); // S'assurer que le name est bien sous forme de tableau

                newMediaItem.appendChild(newInput);

                // Ajouter un bouton de suppression
                let removeButton = document.createElement('button');
                removeButton.setAttribute('type', 'button');
                removeButton.classList.add('btn', 'btn-danger', 'remove-media-button');
                removeButton.textContent = 'Supprimer';

                newMediaItem.appendChild(removeButton);

                blogMediaWrapper.appendChild(newMediaItem);
                index++;
            });

            // Supprimer un champ de fichier ajouté
            blogMediaWrapper.addEventListener('click', function (event) {
                if (event.target.classList.contains('remove-media-button')) {
                    event.target.closest('.blog-media-item').remove();
                }
            });
        });
    </script>
{% endblock %}
