{% extends 'base.html.twig' %}

{% block title %}S'abonner aux notifications d'événements{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>S'abonner aux notifications</h1>

        {# Affichage des messages d'erreur et de succès #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">{{ message }}</div>
            {% endfor %}
        {% endfor %}

        <div>
            <p>Entrez votre adresse e-mail pour vous abonner aux notifications des nouveaux événements :</p>

            {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.email, 'Adresse Email') }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'id': form.email.vars.id}}) }}
                    {{ form_errors(form.email) }}
                </div>
                <button type="submit" class="btn btn-primary">S'abonner</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
